<div class="container">
  <div class="greyBox">
    <span>SHIPPING</span><span>{{ shipping | currency }}</span>
  </div>
  <div id="totals">
    <div class="greyBox">CART TOTALS</div>
    <div>
      <div id="subtotal">
        <span>Subtotal</span><span>{{ subtotal | currency }}</span>
      </div>
      <hr />
      <div>
        <span>Grand Total</span><span id="grandTotal">{{ subtotal + shipping | currency }}</span>
      </div>
      <button mat-raised-button class="blackBtn" (click)="onProceedToCheckout()">Proceed to checkout</button>
    </div>
  </div>
</div>
